/*@import url("<?php echo base_url()?>");*/

.sss-form-img{
  content: url("../../assets/app/img/Contributions_Payment_Form-4.png");
  background-repeat: no-repeat;
  min-width: 815px;
  max-height: 750px;
  padding: 0px;
  margin: 0px;
}
#pageSSSContri .sss-form{
  padding: 0;
}
.sss-panel, .pagibig-panel{
    min-height: 405px!important;
}

#pageSSSContri .form-sss{
        position: absolute;
    }

    #pageSSSContri .test-relative{
        position: absolute;
        width: 900px;
    }

    #pageSSSContri .form-sss-second{
        position: absolute;
    }

    #pageSSSContri .test-relative-second{
        position: absolute;
        width: 900px;
    }

    #pageSSSContri .panel-body.form-body {
        width: 100%;
        max-width: 980px;
        min-height: 1230px;
        overflow: auto;
        position: relative;
        margin: 0 auto;
    }

#pageSSSContri .form-sss{
    display: block;
    background-image: url("../../assets/app/img/BS50318000105995-removeData.png");
    background-repeat: no-repeat;
    min-height: 1184px;
    width: 900px;
    margin: 0 auto;
    background-size: contain;

}

#pageSSSContri .form-sss-second{
    display: block;
    background-image: url("../../assets/app/img/BS50318000105995-removeBack.png");
    background-repeat: no-repeat;
    min-height: 1184px;
    width: 900px;
    margin: 0 auto;
    background-size: contain;

}


#pageSSSContri .button-print{
    display: block;
}


/*display of pagibig form*/ 
#pageSSSContri .print-form-sss{
    display: none;
}

#pageSSSContri .employerName{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 199px;
    margin-left: 59px;
    width: 320px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    font-family: calibri;
    position: absolute;
}
#pageSSSContri .employerAddress{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 200px;
    margin-left: 59px;
    width: 320px;
    height: 23px;
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    font-family: Calibri;
}
#pageSSSContri .amountDue{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 200px;
    margin-left: 455px;
    width: 122px;
    height: 14px;
    font-size: 11px;
    position: absolute;
    font-family: Calibri;
    font-weight: bold;
}
#pageSSSContri .employerZip{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 206px;
    margin-left: 59px;
    width: 320px;
    height: 17px;
    font-size: 11px;
    position: absolute;
    font-family: Calibri;
    font-weight: bold;
}
#pageSSSContri .dueDate{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 206px;
    margin-left: 438px;
    width: 150px;
    height: 16px;
    font-size: 11px;
    position: absolute;
    font-family: Calibri;
    font-weight: bold;
}
#pageSSSContri .employerId{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 204px;
    margin-left: 59px;
    width: 320px;
    height: 15px;
    font-size: 11px;
    font-family: Calibri;
    font-weight: bold;
    position: absolute;
}
#pageSSSContri .generationDate{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 204px;
    margin-left: 474px;
    width: 123px;
    height: 15px;
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    font-family: Calibri;
}
#pageSSSContri .listSummary{
        border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 229px;
    margin-left: 47px;
    width: 680px;
    height: 19px;
    color: white;
    font-size: 17px;
    font-family: calibri;
    position: absolute;

}
#pageSSSContri .totalEmployees{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 230px;
    margin-left: 178px;
    width: 65px;
    height: 14px;
    font-size: 11px;
    position: absolute;
}
#pageSSSContri .socialSecurity{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 243px;
    margin-left: 599px;
    width: 128px;
    height: 14px;
    font-size: 10px;
    position: absolute;
    text-align: right;
}
#pageSSSContri .employeeCompensation{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 240px;
    margin-left: 599px;
    width: 128px;
    height: 14px;
    font-size: 10px;
    position: absolute;
    text-align: right;
}
#pageSSSContri .total{
        border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 238px;
    margin-left: 599px;
    width: 128px;
    height: 14px;
    font-size: 10px;
    position: absolute;
    font-weight: bold;
    text-align: right;
}
#pageSSSContri .grandTotal{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 239px;
    margin-left: 546px;
    width: 181px;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    position: absolute;
}
#pageSSSContri .bankCopyName{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 510px;
    margin-left: 47px;
    width: 264px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    font-family: calibri;
    position: absolute;
}

#pageSSSContri .bankCopyEmployerId{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 510px;
    margin-left: 47px;
    width: 92px;
    height: 15px;
    font-size: 11px;
    font-family: Calibri;
    font-weight: bold;
    position: absolute;
}

#pageSSSContri .bankCopySummaryMonth{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 510px;
    margin-left: 138px;
    width: 167px;
    height: 15px;
    font-size: 11px;
    font-family: Calibri;
    font-weight: bold;
    position: absolute;
}
/*end of sss display form*/

/*sss second page */
#pageSSSContri .secondPageEmployerId{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 105px;
    margin-left: 47px;
    width: 79px;
    height: 14px;
    font-size: 9px;
    font-family: Calibri;
    font-weight: bold;
    position: absolute;
}

#pageSSSContri .secondPageSummaryMonth{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 105px;
    margin-left: 126px;
    width: 167px;
    height: 14px;
    font-size: 10px;
    font-family: Calibri;
    font-weight: bold;
    position: absolute;
}

#pageSSSContri table{
    position: absolute;
    font-family: Calibri;
    margin-top: 122px;
    margin-left: 46px;
}

#pageSSSContri .table-bordered tr td{
    border: 2px solid #c2ddf2;
    padding: 0;
}

#pageSSSContri .table-bordered th{
    border: 1px solid #21619f;
    padding: 0;
    text-align: center;
}

#pageSSSContri .table-striped{
    background-color: #d7e5f2;
}

#pageSSSContri thead{
    background-color: #195997;
    color: white;
}

#pageSSSContri .amountContri{
    text-align: right;
    
}

#pageSSSContri .tableAccountNo{
    text-align: center;
    width: 101.5px;
}

#pageSSSContri .tableCountNo{
    width: 37px;
}

#pageSSSContri .tableName{
    width: 215.5px;
}

#pageSSSContri .tableSSContri{
    width: 108px;
}

#pageSSSContri .tableECContri{
    width: 106.5px;
}

#pageSSSContri .tableTotalContri{
    width: 111px;
}

#pageSSSContri tfoot{
}

#pageSSSContri .tableFooter{
    background-color: #195997;
    color: #195997;
}

/*end of second page*/

#pageSSSContri .back-form{
    display: none;
}

#pageSSSContri .print-second-page{
    display: none;
}


@media print {
    @page{
        size: A4 portrait;
        margin:0;
    }

    body:before{
        -webkit-print-color-adjust: exact;
        padding: 0;
    }
    .sidebar{
        display: none;
    }
    
    #pageSSSContri .form-sss{
        display: none;
    }
    #pageSSSContri .button-print{
        display: none;
    }
    .panel-buttons{
        display: none;
    }

    #pageSSSContri .test-relative{
        display: none;
    }
    
    #pageSSSContri .test-relative-second{
        display: none;
    }

    #pageSSSContri .form-sss-second{
        display: none;
    }

    #pageSSSContri .print-form-sss{
        display: block;  
        page-break-after: always;
    }

    #pageSSSContri .sss-image-form{
        padding: 0;
        margin: 0;
        width: 20cm;
        height: 27.7cm;
        content: url("../../assets/app/img/BS50318000105995-removeData.png");
        position: absolute;
    }

    #pageSSSContri .sss-form-content{
        position: absolute;
        z-index: 22;
       
    }

    #pageSSSContri .print-second-page{
        display: block;
        position: relative;
        height: 27.7cm;
        width: 20cm;
    }

    #pageSSSContri .print-form-sss-second{
        padding: 0;
        margin: 0;
        width: 20cm;
        height: 27.7cm;
        content: url("../../assets/app/img/BS50318000105995-removeBack.png");
        position: absolute;
        z-index: -1;
    }

    #pageSSSContri .print-test-relative-second{
        position: absolute;
        z-index: 22;
    }


    .panel-heading{
        display: none;
    }

    /*start of printing layout pagibig*/

#pageSSSContri .employerName{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 174px;
    margin-left: 59px;
    width: 320px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    font-family: calibri;
    position: absolute;
}
#pageSSSContri .employerAddress{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 172px;
    margin-left: 59px;
    width: 320px;
    height: 23px;
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    font-family: Calibri;
}
#pageSSSContri .amountDue{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 174px;
    margin-left: 445px;
    width: 122px;
    height: 14px;
    font-size: 11px;
    position: absolute;
    font-family: Calibri;
    font-weight: bold;
}
#pageSSSContri .employerZip{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 176px;
    margin-left: 59px;
    width: 320px;
    height: 17px;
    font-size: 11px;
    position: absolute;
    font-family: Calibri;
    font-weight: bold;
}
#pageSSSContri .dueDate{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 177px;
    margin-left: 429px;
    width: 150px;
    height: 16px;
    font-size: 11px;
    position: absolute;
    font-family: Calibri;
    font-weight: bold;
}
#pageSSSContri .employerId{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 174px;
    margin-left: 59px;
    width: 320px;
    height: 15px;
    font-size: 11px;
    font-family: Calibri;
    font-weight: bold;
    position: absolute;
}
#pageSSSContri .generationDate{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 173.4px;
    margin-left: 463px;
    width: 123px;
    height: 15px;
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    font-family: Calibri;
}
#pageSSSContri .listSummary{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 194px;
    margin-left: 46px;
    width: 665px;
    height: 19px;
    color: #fff !important;
    font-size: 15px;
    font-family: calibri;
    position: absolute;
    font-weight: bold;
    -webkit-print-color-adjust: exact;

}
#pageSSSContri .totalEmployees{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 209.5px;
    margin-left: 175px;
    width: 65px;
    height: 14px;
    font-size: 10px;
    position: absolute;
}
#pageSSSContri .socialSecurity{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 238px;
    margin-left: 583px;
    width: 128px;
    height: 14px;
    font-size: 10px;
    position: absolute;
    text-align: right;
}
#pageSSSContri .employeeCompensation{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 251px;
    margin-left: 583px;
    width: 128px;
    height: 14px;
    font-size: 9px;
    position: absolute;
    text-align: right;
}
#pageSSSContri .total{
        border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 264px;
    margin-left: 583px;
    width: 128px;
    height: 14px;
    font-size: 10px;
    position: absolute;
    text-align: right;
    font-weight: bold;
}
#pageSSSContri .grandTotal{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 282px;
    margin-left: 530px;
    width: 181px;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    position: absolute;
}
#pageSSSContri .bankCopyName{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 538px;
    margin-left: 47px;
    width: 264px;
    height: 16px;
    font-size: 11px;
    font-weight: bold;
    font-family: calibri;
    position: absolute;
}

#pageSSSContri .bankCopyEmployerId{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 535px;
    margin-left: 45px;
    width: 92px;
    height: 15px;
    font-size: 11px;
    font-family: Calibri;
    font-weight: bold;
    position: absolute;
}

#pageSSSContri .bankCopySummaryMonth{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 535px;
    margin-left: 138px;
    width: 167px;
    height: 15px;
    font-size: 11px;
    font-family: Calibri;
    font-weight: bold;
    position: absolute;
}
    /*end of printing layout pagibig*/

    /*sss second page */
#pageSSSContri .secondPageEmployerId{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 91px;
    margin-left: 47px;
    width: 75px;
    height: 14px;
    font-size: 9px;
    font-family: Calibri;
    font-weight: bold;
    position: absolute;
}

#pageSSSContri .secondPageSummaryMonth{
    border: 1px solid transparent;
    background-color: transparent;
    text-align: justify;
    margin-top: 91.5px;
    margin-left: 122px;
    width: 167px;
    height: 14px;
    font-size: 10px;
    font-family: Calibri;
    font-weight: bold;
    position: absolute;
}

#pageSSSContri table{
    position: absolute;
    font-family: Calibri;
    margin-top: 107px;
    margin-left: 44px;
}

#pageSSSContri .table-bordered tr td{
    -webkit-print-color-adjust: exact;
    border: 2px solid #c2ddf2 !important;
    padding: 0;
    
}

#pageSSSContri .table-bordered th{
    -webkit-print-color-adjust: exact;  
    border: 1px solid #21619f !important;
    padding: 0;
    text-align: center;
    color: #fff !important;
    
}

#pageSSSContri .table-striped{
    background-color: #d7e5f2 !important;
    -webkit-print-color-adjust: exact;
}

#pageSSSContri thead{
    background-color: #195997 !important;
    color: #fff !important;
    -webkit-print-color-adjust: exact;
}

#pageSSSContri .amountContri{
    text-align: right;
    
}

#pageSSSContri .tableAccountNo{
    text-align: center;
    min-width: 98.3px;
}

#pageSSSContri .tableCountNo{
    min-width: 36.3px;
}

#pageSSSContri .tableName{
    min-width: 210px;
}

#pageSSSContri .tableSSContri{
    min-width: 105px;
}

#pageSSSContri .tableECContri{
    min-width: 105px;
}

#pageSSSContri .tableTotalContri{
    min-width: 111px;
}

#pageSSSContri tfoot{
}

#pageSSSContri .tableFooter{
    background-color: #195997 !important;
    -webkit-print-color-adjust: exact;
    color: #195997 !important;
    -webkit-print-color-adjust: exact;
}

/*end of second page*/

    .am-scroll-top{
        display: none!important;
    }

    /*.sss-form-img {
        content: url("../../assets/app/img/Contributions_Payment_Form-4.png");
        -webkit-print-color-adjust: exact!important;
        display: block;
        max-width: 890px!important;
        max-height: 1034px!important;
        padding: 0!important;
        margin: 0!important;
    }
   
    .panel-heading{
        display: none;
    }
    .am-scroll-top{
        display: none!important;
    }
    .sss-form{
        padding: 0!important;
        margin: 0!important;
    }
    .main-content{
        margin: 0!important;
        padding: 0!important;
    }*/
}
